<div class="container">
    <h2>Add a book</h2>
    <form action="/action_page.php">
        <div class="form-group">
            <label>ISBN:</label>
            <input ng-model="bookDescription.isbn" class="form-control" id="ISBN" placeholder="ISBN" name="ISBN">
        </div>

        <div class="form-group">
            <label>Name of book:</label>
            <input class="form-control" ng-model="bookDescription.book" id="bookName" placeholder="Name of the book"
                   name="bookName">
        </div>
        <div class="form-group">
            <label>URL of Image:</label>
            <input class="form-control" ng-model="bookDescription.url" id="imageUrl" placeholder="imageUrl"
                   name="imageUrl">
        </div>

        <div class="form-group">
            <label>Author (sepperate by comma's):</label>
            <input class="form-control" ng-model="authors" id="author" placeholder="Author" name="bookAuthor">
        </div>

        <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" ng-model="bookDescription.description" id="description"
                      placeholder="Description" name="bookDescription"></textarea>
        </div>

        <div class="form-group">
            <label>Tags (sepperate by comma's):</label>
            <textarea class="form-control" ng-model="bookTags" id="tags" placeholder="Amount" name="tags"></textarea>
        </div>

        <div class="form-group">
            <label>Amount of books:</label>
            <input type="number" class="form-control" ng-model="bookDescription.amount" id="amount" placeholder="Amount"
                   name="amountOfBooks">
        </div>

        <input type="button" ng-click="saveBooks()" class="btn btn-default" name="Add book"/>
    </form>
</div>