<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-top: 25px;">
            <img ng-src="{{data.url}}"style="width: 350px; height: 450px;">
        </div>

        <div class="col-md-8">
            <h2>{{data.title}}</h2>
            <h5 ng-repeat="author in data.authors">{{author.firstname}} {{author.lastname}}</h5>
            <h5>Isbn: {{data.isbn}}</h5>
            <span ng-repeat="tag in data.tags"><span class="label label-default">{{tag.name}}</span>&nbsp;</span>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <br>
            <p ng-if="availableBooks > 0">Available books: {{availableBooks}}</p>
            <div ng-if="availableBooks > 0">
                <button type="button" class="btn btn-primary" ng-click="reserve()">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Reserve
                </button>
            </div>
            <div ng-if="availableBooks === 0">
                <p>All copies are loaned.</p>
                <button type="button" class="btn" ng-click="notifyWhenAvailable()">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Keep me informed
                </button>
            </div>

        </div>
    </div>
</div>