<div class="container">
    <br/>
    <div class="col-md-5">
        <div class="form-group row">
        </div>
        <input style="margin-left: -15px;" ng-model="bookName" class="form-control" type="text" placeholder="Search by Book name" class="form-control">
    </div>
    <br />
    <br />
    <br />
    <br/>
    <div class="row">
        <div ng-repeat="book in books | filter:bookName">
            <div style="width: 350px; height: 450px;" class="col-md-5">
                <div class="thumbnail">
                    <a ng-href="/#/library-item/{{book.id}}">
                        <img style="width: 300px; height: 350px;" ng-src="{{book.url}}" alt="Lights" style="width:90%">
                        <div class="caption">
                            <p class="alignCenter" style="font-weight: bold">{{book.title}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


