<div class="container">
    <br/>
    <input ng-model="bookName" type="text" placeholder="Search by Book name" class="form-control" id="usr">
    <br/>
    <div class="row">
        <div ng-repeat="book in dummyList | filter:bookName">
            <div style="width: 350px; height: 500px;" class="col-md-5">
                <div class="thumbnail">
                    <a href="/detail/{{book.title}}">
                        <img src="{{book.url}}" alt="Lights" style="width:90%">
                        <div class="caption">
                            <p class="alignCenter">{{book.title}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


